body {
  padding: 20px;
}

input, select, textarea {
  border-radius: 4px !important;
  padding: 10px;
  margin: 10px;
  width: 250px;
	height: 2rem;
	border: 1.2px solid lightslategray !important;
}

select {
  width: 250px !important;
}

.table th > label {
	margin: 0;
}

.table td, .table th {
	padding: 0.1rem;
	vertical-align: middle;
}

.table th:first-child {
	text-align: right;
}

.card {
  margin-bottom: 8px;
}

.form-control {
  display: inline !important;
}

textarea {
  width: 350px;
  height: 120px;
  font-size: 10px;
}
